doctype html
html
  head
    title= title
    
    include ./common_includes.jade

  body(ng-app='coreApp', ng-controller='buildStatsCtrl', class='ng-cloak')
    include ./navigation.jade

    #siteHeader.col-md-8
      h1 champion.builder.gg
      #headerSubText(popover-title="Random Search"
                      popover-html="'Click here to search for random aggregate stats.'"
                      popover-toggle="show_help"
                      popover-append-to-body="true")
        #randomSelect(class='noselect' ng-click='randomSearch()') How does {{random_tier}} build {{random_lane}} {{random_champion}}?

    .col-md1
      #buildsAnalyzed 1,041,170 builds analyzed <br> Patch 5.16

    #statSearchContainer
      .row
        .col-md-3
        .col-md-2
          ui-select(ng-model="search.tier.selected" theme="bootstrap" ng-disabled="disabled" id="tier_select" search-enabled="false" ng-init='search.tier.selected = tiers[4]')
            ui-select-match(placeholder="Select a tier")
              img(ng-src="{{$select.selected.image}}")
              {{$select.selected.name}}
            ui-select-choices(repeat="tier in tiers")
              .item-selection-choice
                img(ng-src="{{tier.image}}")
                span(ng-bind-html="tier.name")

        .col-md-2
          ui-select(ng-model="search.championId.selected" theme="bootstrap" ng-disabled="disabled" id="champion_select" search-enabled="true")
            ui-select-match(placeholder="Enter a champion")
              img(ng-src="{{$select.selected.image}}")
              {{$select.selected.name}}
            ui-select-choices(repeat="champion in champion_array | filter: $select.search")
              .item-selection-choice
                img(ng-src="{{champion.image}}")
                span(ng-bind-html="champion.name | highlight: $select.search")

        .col-md-2
          ui-select(ng-model="search.position.selected" theme="bootstrap" ng-disabled="disabled" id="position_select" search-enabled="false" ng-init="search.position.selected = positions[4]")
            ui-select-match(placeholder="Select a position")
              {{$select.selected}}
            ui-select-choices(repeat="position in positions")
              .item-selection-choice
                span(ng-bind-html="position")

      .row
        .col-md-3
        .col-md-2
          ui-select(ng-model="search.patch.selected" theme="bootstrap" ng-disabled="disabled" id="patch_select" search-enabled="false" ng-init="search.patch.selected = patches[0]")
            ui-select-match
              span Patch {{$select.selected}}
            ui-select-choices(repeat="patch in patches")
              .item-selection-choice
                span Patch 
                span(ng-bind-html="patch")
        .col-md-2#searchSubmit(popover-title="Stat Search"
                              popover-placement="bottom"
                              popover-html="'Find aggregate KDA stats for the selected search terms.'"
                              popover-toggle="show_help"
                              popover-append-to-body="true")
          div(class='btn btn-default' ng-show='!alert_loading' ng-click='submit()') Summon
          div(class='btn btn-default disabled' ng-show='alert_loading') <img id='loading_icon' src='/images/loading.svg'>
  
    #alertContainer
      div(class="alert alert-danger" ng-show="alert_error")
        <strong>Error:</strong> {{alert_error_message}}

    .row
      .col-md-3
      .col-md-6.genericContainer
        #kdaTitleContainer
          .chartTitleKeyValueContainer(ng-show="current_stats")
            .chartTitleValue {{current_champion.name}}
            .chartTitleKey CHAMPION
          .chartTitleKeyValueContainer(ng-show="current_stats")
            .chartTitleValue {{tiers[current_tier-1].name}}
            .chartTitleKey TIER
          .chartTitleKeyValueContainer(ng-show="current_stats")
            .chartTitleValue {{current_role}}
            .chartTitleKey ROLE
          .chartTitleKeyValueContainer(ng-show="current_stats")
            .chartTitleValue {{current_lane}}
            .chartTitleKey LANE
          .chartTitleKeyValueContainer(ng-show="current_stats")
            .chartTitleValue {{current_winrate}}% ({{current_total_games}})
            .chartTitleKey WINRATE (# MATCHES)
          .chartTitleKeyValueContainer(ng-show="current_stats")
            .chartTitleValue {{current_patch}}
            .chartTitleKey PATCH
        div(ng-show='!display_comparison_chart')
          #kdaChartContainer
            canvas(id='kdaChart')
          div(bind-html-compile='kda_chart_legend'
              popover-title="Toggle Datasets"
              popover-html="'Click on a dataset here in the legend to hide it from the chart.'"
              popover-toggle="show_help"
              popover-append-to-body="true")
        div(ng-show='display_comparison_chart')
          #kdaAggregateChartContainer
            canvas(id='kdaAggregateChart')
          div(bind-html-compile='kda_aggregate_chart_legend'
              popover-title="Toggle Datasets"
              popover-html="'Click on a dataset here in the legend to hide it from the chart.'"
              popover-toggle="show_help"
              popover-append-to-body="true")
        #kdaChartSelection(
            popover-title="Chart Selection"
            popover-placement="right"
            popover-html="'Toggle between the role comparison chart (which compares this champion against all others in the same role) and the standalone chart (which simply looks at KDA statistics apart from other champions).'"
            popover-toggle="show_help"
            popover-append-to-body="true")
          .btn-group
            label(class="btn btn-default"
                         ng-model="display_comparison_chart"
                         btn-radio="true") Role Comparison Chart
            label(class="btn btn-default"
                         ng-model="display_comparison_chart"
                         btn-radio="false") Standalone Chart

    #kdaVictoryDefeat
      .btn-group(popover-title="Game Subset"
                  popover-placement="bottom"
                  popover-html="'Toggle which games to show for the selected search terms: only victories, only defeats, or both.'"
                  popover-toggle="show_help"
                  popover-append-to-body="true")
        label(class="btn btn-default"
                     ng-disabled="!current_stats.victories"
                     ng-model="display_subset"
                     ng-click="parseStatCollection('victories')"
                     btn-radio="'victories'") Victories
        label(class="btn btn-default"
                     ng-disabled='!current_stats'
                     ng-model="display_subset"
                     ng-click="parseStatCollection('all')"
                     btn-radio="'all'") All Games
        label(class="btn btn-default"
                     ng-disabled="!current_stats.defeats"
                     ng-model="display_subset"
                     ng-click="parseStatCollection('defeats')"
                     btn-radio="'defeats'") Defeats

    include ./item_popover_template

    #startEndBuilds.genericContainer
      table(width="100%")
        thead
          tr
            th
              span(popover-title="Starting Build"
                popover-placement="left"
                popover-html="'The most common start build is listed here.'"
                popover-toggle="show_help"
                popover-append-to-body="true") Most Common Start Build
            th Core Build
        tbody
          tr
            td(valign="top")
              span(ng-repeat="item in start_build.items track by $index")
                img(popover-template="itemPopover.templateUrl"
                    popover-trigger="mouseenter"
                    popover-title="{{itemPopover.item.name}} - {{itemPopover.item.gold.total}}g"
                    popover-animation="false"
                    ng-mouseover="itemPopover.item = itemlist_json[item]"
                    popover-append-to-body="true"
                    height="50px"
                    width="50px"
                    class="item_image"
                    ng-src="{{item_img_url+item+'.png'}}")
              //div {{Math.floor(100*(start_build.count/item_builds[0].samples))}}%
            td(valign="top")
              span(ng-repeat="item in core_build track by $index")
                img(popover-template="itemPopover.templateUrl"
                    popover-trigger="mouseenter"
                    popover-title="{{itemPopover.item.name}} - {{itemPopover.item.gold.total}}g"
                    popover-animation="false"
                    ng-mouseover="itemPopover.item = itemlist_json[item]"
                    popover-append-to-body="true"
                    height="50px"
                    width="50px"
                    class="item_image"
                    ng-src="{{item_img_url+item+'.png'}}")
              #itemBuilderContainer(popover-title="Item Builder Link"
                                    popover-placement="bottom"
                                    popover-html="'Get a link to load this build in item.builder.gg'"
                                    popover-toggle="show_help"
                                    popover-append-to-body="true")
                button(class='btn btn-default'
                       ng-show='!item_builder_link && current_stats'
                       ng-click='getItemBuilderLink()') Get Item Builder Link
                a(href='{{item_builder_link}}' target='_blank')
                  button(class='btn btn-default'
                         ng-show='item_builder_link') Open Link
                input(class='form-control'
                      type='text'
                      ng-show='item_builder_link'
                      ng-model='item_builder_link_textbox')

    #minuteBuilds.genericContainer
      table(width="100%"
            popover-title="Minute Table"
            popover-placement="left"
            popover-html="'<strong>Δ KDA</strong>: This value holds the change in KDA ratio ((K+A) / D) between this minute interval and the last<br><strong># Samples</strong>: The number of match samples recorded for this minute interval<br><strong>Items</strong>: This row shows items that are in the inventory of >50% players at this minute interval.'"
            popover-toggle="show_help"
            popover-append-to-body="true")
        thead
          tr
            th
            th(ng-repeat="n in getNumber(10) track by $index")
              div {{5+($index*5)}}:00
        tbody
          tr
            td(class='minuteBuildsSubtext') Δ KDA
            td(class='minuteBuildsSubtext' ng-repeat="n in getNumber(10) track by $index")
              span
                strong {{item_builds[$index+1].samples && current_kda_deltas[$index+1] > 0 ? '+' : ''}}{{item_builds[$index+1].samples ? current_kda_deltas[$index+1] : ''}}%
          tr
            td(class='minuteBuildsSubtext') # Samples
            td(class='minuteBuildsSubtext' ng-repeat="n in getNumber(10) track by $index")
              span [{{item_builds[$index+1].samples ? item_builds[$index+1].samples : 0}}]
          tr#itemRow
            td
            td(valign="top" ng-repeat="frame in item_builds track by $index" ng-if="$index > 0 && $index < 11")
              span(ng-repeat="item in frame.significant_purchases")
                img(popover-template="itemPopover.templateUrl"
                    popover-trigger="mouseenter"
                    popover-title="{{itemPopover.item.name}} - {{itemPopover.item.gold.total}}g"
                    popover-animation="false"
                    ng-mouseover="itemPopover.item = itemlist_json[item.id]"
                    popover-append-to-body="true"
                    height="50px"
                    width="50px"
                    style="margin-bottom: 10px;"
                    class="item_image"
                    ng-src="{{item_img_url+item.id+'.png'}}")
                //div {{item.popularity}}%
          //
            tr
              td(ng-repeat="frame in item_builds track by $index" ng-if="$index > 0 && $index < 11")
                div(ng-repeat="item in item_builds[$index].item_count")
                  img(height="30px" width="30px" ng-src="{{getItemImage(item.id)}}")
                  span {{item.popularity}}%


  .col-md-2
  .col-md-8
    include ./footer.jade

  include ./analytics.jade