doctype html
html
  head
    title= title

    script(src='/bower_components/file-saver.js/FileSaver.js')
    include ./common_includes.jade

  body(ng-app='coreApp', ng-controller='statDistributionCtrl', class='ng-cloak')
    include ./navigation.jade

    #siteHeader.col-md-8
      h1 item.builder.gg
      #headerSubText

    #statDistributionChartContainer
      .col-md-12.genericContainer
        #statDistributionChartYAxis Effective Gold
        canvas(id='statDistributionChart')

    #itemSelectionContainer.col-md-12
      .col-md-2
      #blockSelectionContainer.col-md-2
        button(class='btn btn-default btn-xs'
               ng-click='createNewBlock()'
               ng-disabled='currently_renaming') New
        button(class='btn btn-default btn-xs'
               ng-click='copyNewBlock()'
               ng-disabled='currently_renaming') Copy
        button(class='btn btn-default btn-xs'
               ng-click='startRenaming()'
               ng-disabled='currently_renaming') Rename
        button(class='btn btn-default btn-xs'
               ng-disabled='currently_renaming'
               ng-click='deleteBlock(current_block.selected)') Delete

        input(ng-show='currently_renaming'
              id='rename-input-box'
              ng-model='new_block_name'
              class='form-control')
        button(class='btn btn-default btn-xs'
               ng-click='renameBlock(current_block.selected,new_block_name)'
               ng-show='currently_renaming') Apply
        button(class='btn btn-default btn-xs'
               ng-click='currently_renaming=false'
               ng-show='currently_renaming') Cancel

        ui-select(ng-model="current_block.selected"
                  theme="bootstrap" ng-disabled="disabled"
                  class="block-select"
                  search-enabled="false"
                  ng-init='current_block.selected=build_blocks[0]'
                  on-select='loadBlock(current_block.selected,$index)'
                  ng-show='!currently_renaming')
          ui-select-match(placeholder="Select a block")
            {{$select.selected.name}}
          ui-select-choices(repeat="block in build_blocks track by $index")
            span(class='block_choice_name'
                 ng-bind-html="block.name")
            span(class='block_item_img_container')
              span(ng-repeat="item in block.items track by $index")
                img(class='block_item_img' ng-src="{{getItemImage(item)}}")


        button(class='btn btn-default btn-xs'
               ng-click='loadBlock(last_block)'
               ng-show='!currently_renaming') Last Block

      div(ng-repeat='n in build_item track by $index', class="buildItem col-md-1", id="item{{$index}}")
        a(ng-click="displayItemSearch($index)")
          img(class="item_display_img" ng-src="{{build_item_image[$index]}}")
        button(class="btn btn-default btn-sm clear_button" ng-show="build_item[{{$index}}].selected" ng-click="clearItem($index)") Clear
        ui-select(ng-model="build_item[$index].selected"
                  theme="bootstrap"
                  ng-disabled="disabled"
                  ng-change="itemChange($index,build_item[$index].selected.id)"
                  ng-show="show_item_search[$index]")
          ui-select-match(placeholder="Enter an item name") {{$select.selected.name}}
          ui-select-choices(repeat="item in itemlist_array | orderBy:'-cost' | filter: $select.search")
            img(style="position: absolute; margin: 0px -18px; height: 40px; width: 40px;" ng-src="{{item.image}}")
            div(style="margin-left: 30px", class="item-selection-choice")
              div(ng-bind-html="item.name | highlight: $select.search")
              small {{item.cost}}g
      .col-md-1
        input(type='text'
              ng-model='build_name'
              class='form-control'
              placeholder='Build Name')
        button(class='btn btn-default'
               id='shareItemSetButton'
               ng-click='shareItemSet()'
               ng-show='!currently_saving && !share_link') Share Item Set
        input(type='text'
              ng-model='share_link'
              class='form-control'
              ng-show='share_link')
        div(class='btn btn-default disabled' id='shareItemSetButton' ng-show='currently_saving') <img id='loading_icon' src='/images/loading.svg'>
        button(class='btn btn-default'
               ng-click='exportItemSet()') Export Item Set

    #statDistributionTable
      .col-md-1
      .col-md-10.genericContainer
        table(class='table')
          thead
            tr
              td
              td Cost
              td Efficiency
              td(ng-repeat='stat in stat_distribution_label_map') {{stat}}
          tbody
            tr
              td 
                strong Total
              td
                strong {{getTotalCost()}}
              td
                strong {{Math.round(100*(getTotalEffectiveGold()/getTotalCost()))}}%
              td(ng-repeat='val in stat_distribution_label_map track by $index')
                strong {{getTotalStat($index)}}
            tr(ng-repeat='n in stat_distribution_data.datasets track by $index'
               ng-show='build_item[$index].selected'
               id='stat_table_item{{$index}}')
              td {{n.label}}
              td {{actual_cost[$index]}}
              td {{Math.round(100*(effective_gold[$index]/actual_cost[$index]))}}%
              td(ng-repeat='val in n.data track by $index')
                {{stat_tally[$parent.$index][$index] > 0 ? stat_tally[$parent.$index][$index] : ''}}
      .col-md-1

    //-
      ** File drop handling **
      div(class='dropzone',
          file-dropzone='[image/png, image/jpeg, image/gif]',
          file='image',
          file-name='imageFileName',
          data-max-file-size='3')
        span

      div(class='image-container')
        img(ng-src="{{image}}")
        span(class='file-name') {{imageFileName}}

    include ./analytics.jade