doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bower_components/angular-chart.js/dist/angular-chart.css')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js')
    script(src='/core.js')
    script(src='/bower_components/Chart.js/Chart.js')
    script(src='/bower_components/Chart.StackedBar.js/src/Chart.StackedBar.js')
    script(src='/bower_components/angular-chart.js/dist/angular-chart.js')

  body(ng-app='coreApp', ng-controller='mainCtrl')
    form(ng-submit='submit()')
        select(ng-model='search.tier',
               ng-init='search.tier = tiers[0].id',
               ng-options='tier.id as tier.name for tier in tiers')

        select(ng-model='search.championId',
               ng-options="champion.id as champion.name for champion in champion_array | orderBy: 'name'")

        select(ng-model='search.patch', ng-init='search.patch=patches[0]', ng-options='patch for patch in patches')

        select(ng-model='search.victory', ng-init="search.victory='true'")
            option(value='true') Victory
            option(value='false') Defeat

        input(type='submit')

    {{stat_collection}}

    #mainCtrlDiv
      //
          canvas(class='chart chart-stacked-bar',
                 data='data',
                 labels='labels',
                 legend='true',
                 series='series',
                 click='onClick')

      canvas(id='line',
             class='chart chart-line',
             data='data',
             labels='labels',
             legend='true',
             series='series',
             colours='kda_colors',
             options='kda_options',
             click='onClick')

    //-
      ** File drop handling **
      div(class='dropzone',
          file-dropzone='[image/png, image/jpeg, image/gif]',
          file='image',
          file-name='imageFileName',
          data-max-file-size='3')
        span

      div(class='image-container')
        img(ng-src="{{image}}")
        span(class='file-name') {{imageFileName}}