doctype html
html
  head
    title= title

    script(src='/bower_components/file-saver.js/FileSaver.js')
    include ./common_includes.jade

  body(ng-app='coreApp', ng-controller='statDistributionCtrl', class='ng-cloak')
    include ./navigation.jade

    .row
      #siteHeader.col-md-8
        h1 item.builder.gg
        #headerSubText
    .row
      .col-md-3
        .genericContainer#saveButtons(popover-title="Item Set Saving"
                                      popover-html="'<li><strong>Upload Item Set</strong>: Select an item set JSON file from the League of Legends directory or an item set downloaded from builder.gg <li><strong>Share Item Set</strong>: Generate a shareable link for this item set <li><strong>Download Item Set</strong>: Download a copy of this item set. To load in game, save the JSON file to:<br> C:/Riot Games/League of Legends/Config/Global/Recommended'"
                                      popover-toggle="show_help"
                                      popover-append-to-body="true")
          div
            button(class='btn btn-default'
                   ng-click='loadRandomItems()') Load Random Items
          div
            label(class="btn btn-default" for="file-selector") Upload Item Set
                input(type='file'
                      id='file-selector'
                      onchange='angular.element(this).scope().uploadItemset(this)'
                      style='display:none')
          div
            button(class='btn btn-default'
                   id='shareItemSetButton'
                   ng-click='shareItemSet()'
                   ng-show='!currently_saving') Share Item Set
            div(class='btn btn-default disabled' id='shareItemSetButton' ng-show='currently_saving') <img id='loading_icon' src='/images/loading.svg'>
            div
              input(type='text'
                    ng-model='share_link'
                    class='form-control'
                    ng-show='share_link')

          div
            button(class='btn btn-default'
                   ng-click='exportItemSet()') Download Item Set
      .col-md-6.genericContainer
        #statDistributionChartContainer(popover-title="Stat Distribution Chart"
                                        popover-html="'The item stat distribution chart gives a general idea of how much of an item&#39;s cost goes to each stat. The \"Effective Gold\" is calculated by using a baseline item (e.g. Long Sword for AD), and applying the baseline stat cost to the item in question. <a href=\"http://leagueoflegends.wikia.com/wiki/Gold_efficiency\" target=\"_blank\">More Info </a>'"
                                        popover-toggle="show_help"
                                        popover-append-to-body="true")
          #statDistributionChartTitleContainer(popover-title="Item Set Title"
                                               popover-html="'If you would like to rename this item set, simply click on the title and type in the new name'"
                                               popover-placement="bottom"
                                               popover-toggle="show_help"
                                               popover-append-to-body="true")
            .chartTitleKeyValueContainer
              .chartTitleValue {{getTotalCost()}}
              .chartTitleKey TOTAL COST
            #statDistributionChartTitle(ng-mouseover='show_itemset_edit=true' ng-mouseout='show_itemset_edit=false'
                                        ng-click='currently_renaming_itemset ? null : currently_renaming_itemset = true')
              span(ng-show='!currently_renaming_itemset') {{item_set_name}}
              span(class='glyphicon glyphicon-pencil'
                   style='position:absolute; margin-top: 30px; margin-left: 10px; font-size: 70%;'
                   ng-show='show_itemset_edit && !currently_renaming_itemset')
              div(ng-show='currently_renaming_itemset')
                form(ng-submit='currently_renaming_itemset=!currently_renaming_itemset')
                  input(type='text'
                        ng-model='item_set_name'
                        class='form-control'
                        placeholder='Item Set Name'
                        style='width: 50%; display: inline-block;')
                  input(type='submit' class='btn btn-default' value='Apply' style='margin-left: 10px; display: inline-block; margin-top: 2px;')
            .chartTitleKeyValueContainer
              .chartTitleValue {{getTotalEfficiency()}}%
              .chartTitleKey GOLD EFFICIENCY
          #statDistributionChartYAxis Effective Gold
          canvas(id='statDistributionChart')

      .col-md-3
        .genericContainer#statDistributionTableLegend(popover-title="Icon Legend"
                                                      popover-html="'The icon legend lets you know which stat each icon represents'"
                                                      popover-toggle="show_help"
                                                      popover-append-to-body="true")
          ul(class='list-unstyled')
            li(ng-repeat='key in stat_distribution_label_keys track by $index')
              .legendKey {{stat_distribution_label_keys[$index]}}
              .legendValue {{stat_distribution_label_values[$index]}}

    #itemSelectionContainer.col-md-12
      .col-md-3
        #blockSelectionContainer.genericContainer(popover-title="Block Management"
                                                  popover-html="'Here you can manage each block in your itemset'"
                                                  popover-toggle="show_help"
                                                  popover-append-to-body="true")
          button(class='btn btn-default btn-xs'
                 ng-click='createNewBlock()'
                 ng-disabled='currently_renaming_block') New Block
          button(class='btn btn-default btn-xs'
                 ng-click='copyNewBlock()'
                 ng-disabled='currently_renaming_block') Copy Block
          button(class='btn btn-default btn-xs'
                 ng-click='startRenamingBlock()'
                 ng-disabled='currently_renaming_block') Rename Block
          button(class='btn btn-default btn-xs'
                 ng-disabled='currently_renaming_block'
                 ng-click='deleteBlock(current_block.selected)') Delete Block


          form(ng-submit='renameBlock(current_block.selected,new_block_name)')
            input(ng-show='currently_renaming_block'
                  id='rename-input-box'
                  ng-model='new_block_name'
                  class='form-control')
            input(type='submit' class='btn btn-default btn-xs'
                  style='display: inline-block; width: 25%; margin-right: 20px;'
                   value='Apply'
                   ng-show='currently_renaming_block')
            input(type='button' class='btn btn-default btn-xs'
                  style='display: inline-block; width: 25%; margin-right: 20px;'
                   ng-click='currently_renaming_block=false'
                   ng-show='currently_renaming_block' value='Cancel')

          #blockSelectionInput
            ui-select(ng-model="current_block.selected"
                      theme="bootstrap" ng-disabled="disabled"
                      class="block-select"
                      search-enabled="false"
                      ng-init='current_block.selected=build_blocks[0]'
                      on-select='loadBlock(current_block.selected,$index)'
                      ng-show='!currently_renaming_block')
              ui-select-match(placeholder="Select a block")
                {{$select.selected.name}}
              ui-select-choices(repeat="block in build_blocks track by $index")
                span(class='block_choice_name'
                     ng-bind-html="block.name")
                span(class='block_item_img_container')
                  span(ng-repeat="item in block.items track by $index")
                    img(class='block_item_img' ng-src="{{getItemImage(item)}}")

          button(class='btn btn-default btn-xs'
                 ng-click='loadBlock(last_block)'
                 ng-show='!currently_renaming_block && last_block') Last Block

      include ./item_popover_template

      div(style='margin-left: 42%;'
          popover-title="Item Selection"
          popover-html="'Here you can add or remove items from the current block. Simply enter part of the item name and choose it from the select box. Item changes to a block will be saved automatically'"
          popover-toggle="show_help"
          popover-append-to-body="true")
      div(ng-repeat='n in build_item track by $index'
          class="buildItem col-md-1"
          id="item{{$index}}")
        button(class="btn btn-default btn-sm clear_button" ng-show="build_item[{{$index}}].selected" ng-click="clearItem($index)") X
        .itemDisplayImgContainer
          img(class="item_display_img"
              popover-template="itemPopover.templateUrl"
              popover-trigger="mouseenter"
              popover-title="{{itemPopover.item.name}} - {{itemPopover.item.gold.total}}g"
              popover-animation="false"
              ng-mouseover="itemPopover.item = itemlist_json[build_item[$index].selected.id]"
              popover-append-to-body="true"
              ng-show="build_item[$index].selected"
              ng-src="{{build_item_image[$index]}}")
        ui-select(ng-model="build_item[$index].selected"
                  theme="bootstrap"
                  ng-disabled="disabled"
                  ng-change="itemChange($index,build_item[$index].selected.id)")
          ui-select-match(placeholder="Type item") {{$select.selected.name}}
          ui-select-choices(repeat="item in itemlist_array | orderBy:'-cost' | filter: $select.search")
            img(style="position: absolute; margin: 0px -18px; height: 40px; width: 40px;" ng-src="{{item.image}}")
            div(style="margin-left: 30px", class="item-selection-choice")
              div(ng-bind-html="item.name | highlight: $select.search")
              small {{item.cost}}g
      .col-md-3


    .col-md-1
    .col-md-10.genericContainer#statDistributionTable
      table(class='table'
            popover-title="Stat Distribution Table"
            popover-html="'Here is a detailed breakdown of item cost and what specific stat values it provides. If the item efficiency percentage has an asterisk, that indicates the item has a passive, active, or aura that is not being factored into the value'"
            popover-toggle="show_help"
            popover-append-to-body="true")
        thead
          tr
            td
            td Cost
            td Efficiency
            td(ng-repeat='stat in stat_distribution_label_keys track by $index'
               id="statDistributionTableIcons"
               popover="{{stat_distribution_label_values[$index]}}"
               popover-trigger="mouseenter"
               popover-append-to-body="true"){{stat}}
        tbody
          tr
            td 
              strong Total
            td
              strong {{getTotalCost()}}
            td
              strong {{getTotalEfficiency()}}%
            td(ng-repeat='val in stat_distribution_label_keys track by $index')
              strong {{getTotalStat($index) > 0 ? getTotalStat($index) : ''}}
          tr(ng-repeat='n in stat_distribution_data.datasets track by $index'
             ng-show='build_item[$index].selected'
             id='stat_table_item{{$index}}')
            td {{n.label}}
            td {{actual_cost[$index]}}
            td(ng-class="{passive: stat_tally[$index][stat_distribution_stat_bases.length]}") {{Math.round(100*(effective_gold[$index]/actual_cost[$index]))}}%
            td(ng-repeat='val in n.data track by $index')
              {{stat_tally[$parent.$index][$index] > 0 ? stat_tally[$parent.$index][$index] : ''}}
    .col-md-1

    //-
      ** File drop handling **
      div(class='dropzone',
          file-dropzone='[image/png, image/jpeg, image/gif]',
          file='image',
          file-name='imageFileName',
          data-max-file-size='3')
        span

      div(class='image-container')
        img(ng-src="{{image}}")
        span(class='file-name') {{imageFileName}}

    include ./analytics.jade